.App {
  text-align: center;
}

.nev_ul li{
  display: inline-block;
  padding: 10px;
}

.nev_ul li a{
  color: white;
  text-decoration: none;
}
.nev_ul
{
  padding: 5px;
  margin: 0;
  background-color: #282c34;
}
.footer-h3
{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
.inputBox 
{
  display:block;
    margin: 10px;
    padding: 10px;
}
.signup-div
{
  margin-left: 30%;
}
.btnLogup
{
  background-color: teal;
  margin: 10px;
  color: white;
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
